body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding-top: 50px;
}

h1 {
    font-size: 2.5em;
}

.boton-donar, .boton-enviar {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: rgb(255, 255, 255);
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.boton-donar:hover, .boton-enviar:hover {
    background-color: #424247;
}
